body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
display:flex;
background:#111;
color:white;
}

/* Sidebar izquierda */
.sidebar{
width:220px;
background:#000;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
gap:15px;
border-right:2px solid yellow;
}

.sidebar h2{
color:yellow;
}

.sidebar input{
width:170px;
padding:8px;
border-radius:10px;
border:none;
text-align:center;
}

.sidebar button{
width:170px;
padding:10px;
border:none;
border-radius:10px;
background:yellow;
cursor:pointer;
font-weight:bold;
}

/* Contenido */
.contenido{
flex:1;
padding:30px;
overflow-y:auto;
}

.peliculas{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
}

/* TODAS MISMAS DIMENSIONES */
.pelicula{
background:#222;
padding:10px;
border-radius:15px;
text-align:center;
cursor:pointer;
transition:0.3s;
}

.pelicula:hover{
transform:scale(1.05);
box-shadow:0 0 15px yellow;
}

.pelicula img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.pelicula p{
margin-top:10px;
font-weight:bold;
}
