body{
margin:0;
font-family:Arial;
}

.fondo1{
background:url("../img/fondo1.png");
background-repeat:repeat;
}

.fondo2{
background:url("../img/fondo2.png");
}

.neon span{
animation:pulse 2s infinite;
font-size:50px;
}

.c1{color:#00ffff;}
.c2{color:#ff00ff;}
.c3{color:#00ff00;}

@keyframes pulse{
0%{text-shadow:0 0 5px currentColor;}
50%{text-shadow:0 0 25px currentColor;}
100%{text-shadow:0 0 5px currentColor;}
}

.card{
border:3px solid yellow;
box-shadow:0 0 15px yellow;
display:inline-block;
margin:20px;
padding:10px;
}