body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
display:flex;
background:#111;
color:white;
}

/* Sidebar izquierda */
.sidebar{
width:220px;
background:#000;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
gap:15px;
border-right:2px solid yellow;
}

.sidebar h2{
color:yellow;
}

.sidebar input{
width:170px;
padding:8px;
border-radius:10px;
border:none;
text-align:center;
}

.sidebar button{
width:170px;
padding:10px;
border:none;
border-radius:10px;
background:yellow;
cursor:pointer;
font-weight:bold;
}

/* Contenido */
.contenido{
flex:1;
padding:30px;
overflow-y:auto;
}

.peliculas{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
}

/* TODAS MISMAS DIMENSIONES */
.pelicula{
background:#222;
padding:10px;
border-radius:15px;
text-align:center;
cursor:pointer;
transition:0.3s;
}

.pelicula:hover{
transform:scale(1.05);
box-shadow:0 0 15px yellow;
}

.pelicula img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.pelicula p{
margin-top:10px;
font-weight:bold;
}
.layout{
display:flex;
background:#111;
color:white;
margin:0;
height:100vh;
}

.sidebar{
width:230px;
background:#000;
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
padding:20px;
}

.sidebar input, .sidebar select{
width:180px;
padding:8px;
border-radius:10px;
border:none;
text-align:center;
}

.sidebar button{
width:180px;
padding:10px;
border:none;
border-radius:10px;
background:yellow;
cursor:pointer;
font-weight:bold;
}

.contenido{
flex:1;
padding:30px;
overflow-y:auto;
}

.peliculas{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
gap:20px;
}

.pelicula{
position:relative;
overflow:hidden;
border-radius:15px;
cursor:pointer;
}

.pelicula img{
width:100%;
height:280px;
object-fit:cover;
border-radius:15px;
transition:0.3s;
}

.overlay{
position:absolute;
bottom:0;
background:rgba(0,0,0,0.85);
color:white;
width:100%;
padding:10px;
transform:translateY(100%);
transition:0.3s;
font-size:13px;
}

.pelicula:hover .overlay{
transform:translateY(0);
}

.botones{
display:flex;
justify-content:space-between;
margin-top:8px;
}

.botones button{
background:yellow;
border:none;
padding:5px;
border-radius:8px;
cursor:pointer;
font-size:12px;
}
