/* ========================= */
/* CONFIGURACION GENERAL */
/* ========================= */

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:url("../img/fondo1.png");
background-repeat:repeat;
color:white;
}

/* ========================= */
/* SOLO INDEX */
/* ========================= */

.index-body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.contenedor{
text-align:center;
background:rgba(0,0,0,0.7);
padding:40px;
border-radius:20px;
box-shadow:0 0 25px yellow;
}

/* ========================= */
/* TITULO NEON */
/* ========================= */

.neon span{
font-size:50px;
animation:pulse 2s infinite;
}

.c1{color:#00ffff;}
.c2{color:#ff00ff;}
.c3{color:#00ff00;}

@keyframes pulse{
0%{text-shadow:0 0 5px currentColor;}
50%{text-shadow:0 0 25px currentColor;}
100%{text-shadow:0 0 5px currentColor;}
}

.textoNeon{
color:#ffff00;
text-shadow:0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
font-weight:bold;
}

/* ========================= */
/* FORMULARIO */
/* ========================= */

input{
padding:10px;
width:250px;
border-radius:10px;
border:none;
text-align:center;
margin-bottom:15px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#ffff00;
cursor:pointer;
font-weight:bold;
}

#mensaje{
margin-top:15px;
}

/* ========================= */
/* SALA CENTRADA */
/* ========================= */

.contenido{
display:flex;
flex-direction:column;
align-items:center;   /* centra todo horizontal */
width:100%;
}

/* BOTONES ORDENAR */
.ordenar{
display:flex;
justify-content:center;
gap:20px;
margin:30px 0;
}

/* CONTENEDOR PELICULAS */
.peliculas{
display:flex;
flex-wrap:wrap;
justify-content:center;  /* centra las tarjetas */
gap:30px;
max-width:1100px;
width:100%;
margin:0 auto;
}

/* TARJETA */
.pelicula{
width:170px;
text-align:center;
}

/* IMAGEN */
.pelicula img{
width:170px;
height:240px;
object-fit:cover;
border-radius:15px;
display:block;
margin:0 auto;
transition:0.3s;
}

.pelicula img:hover{
transform:scale(1.05);
box-shadow:0 0 15px yellow;
}
