body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:url("../img/fondo1.png");
background-repeat:repeat;
color:white;
}

.contenedor{
text-align:center;
background:rgba(0,0,0,0.7);
padding:40px;
border-radius:20px;
box-shadow:0 0 25px yellow;
}

.neon span{
font-size:50px;
animation:pulse 2s infinite;
}

.c1{color:#00ffff;}
.c2{color:#ff00ff;}
.c3{color:#00ff00;}

@keyframes pulse{
0%{text-shadow:0 0 5px currentColor;}
50%{text-shadow:0 0 25px currentColor;}
100%{text-shadow:0 0 5px currentColor;}
}

.textoNeon{
color:#ffff00;
text-shadow:0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
font-weight:bold;
}

input{
padding:10px;
width:250px;
border-radius:10px;
border:none;
text-align:center;
margin-bottom:15px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#ffff00;
cursor:pointer;
font-weight:bold;
}

#mensaje{
margin-top:15px;
}

