body{
margin:0;
font-family:Arial;
}

.fondo1{
background:url("../img/fondo1.png");
background-repeat:repeat;
}

.fondo2{
background:url("../img/fondo2.png");
}

.neon span{
animation:pulse 2s infinite;
font-size:50px;
}

.c1{color:#00ffff;}
.c2{color:#ff00ff;}
.c3{color:#00ff00;}

@keyframes pulse{
0%{text-shadow:0 0 5px currentColor;}
50%{text-shadow:0 0 25px currentColor;}
100%{text-shadow:0 0 5px currentColor;}
}

.card{
border:3px solid yellow;
box-shadow:0 0 15px yellow;
display:inline-block;
margin:20px;
padding:10px;

}
.contenedor{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

.titulo{
margin-bottom:40px;
}

.login{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:20px;
box-shadow:0 0 20px yellow;
}

.textoNeon{
color:#ffff00;
text-shadow:0 0 10px #ffff00, 0 0 20px #ffff00;
font-weight:bold;
}

input{
padding:10px;
width:250px;
border-radius:10px;
border:none;
text-align:center;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:yellow;
cursor:pointer;
font-weight:bold;
}
